@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
padding: 0;
margin: 0;
box-sizing: border-box;
}

body {
  background-color: #bba58f;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  font-family: "Rubik", sans-serif;
}

.container {
  width: 780px;
  padding: 20px;
  background-color: #a88e7a;
  border-radius: 10px;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3); /* Optional: for a border effect */
}

.quiz_wrapper {
padding: 2 rem;
color: #fff;
text-align: center;
}

.quiz_wrapper h2 {
  font-weight: lighter;
  font-size: 4rem;
}

.quiz_wrapper h3 {
font-size: 2rem;

}

.btn{
  outline: none;
  border: none;
  background-color: #3a2d28;
  color: #fff;
  padding: 0.7rem 2rem;
  font-family: inherit;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
}

.quiz_wrapper p {
  margin: 1rem 0;
}

.quiz .quiz_header {
  box-shadow: 0 0 5px rgba(0,0,0.5);
  color: #fff;
  padding: 2rem;
}

.quiz .quiz_body {
  padding: 2rem;
}

.quiz .quiz_body li {
list-style-type: none;
margin: 1rem 0;
color: #fff;
font-size: 1.2rem;
background-color: #3a2d28;
padding: 1rem 1rem;
border-radius: 5px;
cursor: pointer;
transition: all 0.3s;
}

.quiz .quiz_body li:hover {
  margin-left: 1rem;
}

.quiz .quiz_body li.correct{
  background-color: #585d27;
  margin-left: 1rem;
  cursor: not-allowed;
  color: #fff;
}

.quiz .quiz_body li.wrong{
  background-color: #daa48b;
  cursor: not-allowed;
  color: #000;
}

.quiz .quiz_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 5px rgba(0, 0, 0.5);
  color: #fff;
  padding: 1rem 2rem;
}
.finish_screen {
  padding: 1rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.finish_screen p{
  font-size: 2rem;
}
.finish_screen button{
  margin: 1rem 0;

}