Start Button
Name of quiz: CodeClash Trivia
Number of questions at the bottom
Highlights correct or incorrect answer
Next Button
JavaScript Questions
Number of answers correct at the end
restart button
Message when complete.

Scoring: Exceptional work! Your score reflects your mastery and dedication. Truly outstanding!

